<!DOCTYPE html>
<html>
<head>
  <title>{guide_name} - {title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/ico" href="{path}/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{path}/styles.css" />
  <link rel="stylesheet" type="text/css" href="{path}/prettify.css" />
  <script type="text/javascript" src="{path}/prettify.js"></script>
</head>
<body>

<div id="container">
<div id="header">
  <div class="google-search">{search}</div>
  <h1><a href="{path}">{title}</a></h1>
</div>

<div id="content">
  {content}

  {social}
</div>
</div>

<div id="footer">
  <p>{footer}</p>
</div>

{font}
{prettify}
{analytics}

</body>
</html>
