<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <style>
    body > ul > li {margin-bottom: 0.5em;}
    body > ul > li > ul {margin: 0.5em 0; font-size: smaller;}
    body > ul > li > a:link {font-weight: bold; }
  </style>
</head>
<body>

<h1>{title}</h1>

{content}

<script type="text/javascript">
(function(){
  var protocol = (document.location.protocol === "https:") ? "https:" : "http:";
  document.write("<link href='"+protocol+"//fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />");
})();
</script>

</body>
</html>
