<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link rel="stylesheet" type="text/css" href="prettify.css" />
  <script type="text/javascript" src="prettify.js"></script>
</head>
<body id="index-page">

<div id="container">
<div id="header">
  <div class="google-search">{search}</div>
  <h1><a href="{path}">{title}</a></h1>
</div>

<div id="content">
{content}

{social}
</div>
</div>

<div id="footer">
  <p>{footer}</p>
</div>

{font}
{prettify}
{analytics}

</body>
</html>
