<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body id="index-page">

<div id="container">
<div id="header">
  <div class="google-search">{search}</div>
  <h1><a href="{path}">{title}</a></h1>
</div>

<div id="content">
{content}
</div>
</div>

<div id="footer">
  <p>{footer}</p>
</div>

<script type="text/javascript">
(function(){
  var protocol = (document.location.protocol === "https:") ? "https:" : "http:";
  document.write("<link href='"+protocol+"//fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />");
})();
</script>

</body>
</html>
