body {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    line-height: 1.231;
    color: #484848;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Exo", sans-serif;
    color: #66ab16;
}

a:link {
    color: #083772;
    text-decoration: none;
}
a:hover {
    color: #0464BB;
}


pre {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    background-color: #f7f7f7;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    color: #314e64;
    padding: 10px 12px;
    margin: 10px 0 14px 0;
    overflow-x: auto;
    overflow-y: hidden;
}

img {
    display: block;
    margin: 0 auto;
}

/* Page header and content sections */

#header {
    background: #074E7C url(sencha-logo.png) 5px center no-repeat;
    padding-left: 30px;
}
#header h1 {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
}
#header a {
    color: white;
}

#header .google-search {
    position: absolute;
    top: 3px;
    right: 20px;
    width: 250px;
}

#content {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

/* Create sticky footer */
html, body, #container {
    height: 100%;
}
body > #container {
    height: auto;
    min-height: 100%;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 20px;
    margin-top: -20px;
}

/* Other footer styles */
#footer {
    text-align: right;
    font-size: 10px;
    width: 100%;
}
#footer p {
    padding-right: 20px;
    margin: 0;
}

/* Special styles for guides list in index page */

body#index-page #content > ul > li {margin-bottom: 0.5em; }
body#index-page #content > ul > li > ul {margin: 0.5em 0; font-size: smaller; }
body#index-page #content > ul > li > a:link {font-weight: bold; }

body#index-page #content > ul > li > span {
    color: #66ab16;
    font-family: "Exo", sans-serif;
    font-weight: bold;
}
